<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Demo </title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
<section class="line">
</section>
<section class="nav">
        <div class="nav">
            <a href="/home">Info</a>
        </div>
        <div class="nav">
            <a href="/demo_menu">Demo</a>
        </div>
        <div class="nav">
            <a href="/contact"> Contact </a>
        </div>
</section>
<section class="line">
</section>

    {% block content %}
    {% endblock content %}

<section class="line">
</section>
<section class="nav">
    <div class="third">
        <a href="https://github.com/LiamWoodRoberts/Image_Classification_for_Galaxy_Morphologies" class="foot">
            <img src="../static/images/github.svg" class="icon">
        </a>
        <div class="foot">
            <a href="https://github.com/LiamWoodRoberts/Image_Classification_for_Galaxy_Morphologies" class="foot">
                Model Training
            </a>
        </div>       
    </div> 
    <div class="third">            
        <a href="https://github.com/LiamWoodRoberts/GalaxyWebApp" class="foot">
            <img src="../static/images/github.svg" class="icon">
        </a>
        <div class="foot">
        <a href="https://github.com/LiamWoodRoberts/GalaxyWebApp" class="foot">
            Web App 
        </a>
        </div>       
    </div> 
    <div class="third">
        <a href="https://github.com/LiamWoodRoberts/GalaxyWebApp" class="foot">
            <img src="../static/images/github.svg" class="icon">
        </a>
        <div class="foot">
            <a href="/galaxy_api/documentation" class="foot">
                API
            </a>
        </div>
    </div>
    </section>

    <section class="line">
    </section>
    </body>
    </html>