<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Contact </title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <ul class="nav">
        <div class="nav_bar">
            <a href="/home">Info</a>
        </div>
        <div class="nav_bar">
            <a href="/predictor">Demo</a>
        </div>
        <div class="nav_bar">
            <a href="/contact"> Contact </a>
        </div>
    </ul>
    <section>
        <ul>
            <a href="https://github.com/LiamWoodRoberts">
                <img src="../static/images/github.svg" class="icon">
            </a>
            <a href="https://www.linkedin.com/in/liamwoodroberts/">
                <img src="../static/images/linkedin.png" class="icon">
            </a>
            <a href="https://www.liamwoodroberts.com">
                <img src="../static/images/psi2.png" class="icon">
            </a>
        </ul>
    </section>

    <section class='spaced'>
        <ul>
            <h2>liamwr17@gmail.com</h2>
            <h2> 519 841 8626</h2>
        </ul>
    </section>
        
    </body>