<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Contact </title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
<section class="line">
</section>
<section class="nav">
        <div class="nav">
            <a href="/home">Info</a>
        </div>
        <div class="nav">
            <a href="/demo_menu">Demo</a>
        </div>
        <div class="nav">
            <a href="/contact"> Contact </a>
        </div>
</section>
<section class="line">
</section>

<section style="padding:20px;" class="foot">
        <div>
          <a href="https://github.com/LiamWoodRoberts/" class="foot">
            <img src="../static/images/github.svg" class="icon">
          </a>
          <div class="foot">
            <a href="https://github.com/LiamWoodRoberts/" class="foot">
            Github
            </a>
          </div>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/liamwoodroberts/" class="foot">
            <img src="../static/images/linkedin.png" class="icon">
          </a>
          <div class="foot">
            <a href="https://www.linkedin.com/in/liamwoodroberts/" class="foot">
            LinkedIn
            </a>
          </div>
        </div>
        <div>
            <a href="https://liamwoodroberts.com/" class="foot">
              <img src="../static/images/psi2.png" class="icon">
            </a>
            <div class="foot">
              <a href="https://liamwoodroberts.com/" class="foot">
              Website
              </a>
            </div>
          </div>
    </section>
    
      <section style="padding:20px;" class="foot">
        <div>
          <h2 style="margin:4px;">Email: liamwr17@gmail.com</h2>
        </div>
        <div>
          <h2>
            Cell: 519 841 8626
          </h2>
        </div>
      </section>
    </section>
        
    </body>
</html>