{% extends "nav_bar.html" %}
{% block content %}

<section style="flex-direction: row;">
        <div class="menu">
            <div style="width:300px;max-width:70%; flex-direction: column;">
                <a href="/demo" style="font-size:20px;">Survey comparisons</a>
                <p style="font-size:16px;"> See how the model performs compared to crowd sourced survey results</p>
            </div>
            <img class="menu" src="../static/images/raw_images_sample.png">

        </div>

        <div class="menu">
            <div style="width:300px;max-width:70%; flex-direction: column;">
                <a href="/input" style="font-size:20px; margin:auto; padding:3px;">Upload your Own Images</a>
                <p style="font-size:16px;"> Try yourself to see how well the model can identify uploaded galaxy images</p>
            </div>
            <img class="menu" src="../static/images/demo4.jpeg">
        </div>

</section>

{% endblock content %}
