{% extends "nav_bar.html" %}
{% block content %}

    <header>
      <div>
        <h1>Galaxy Morphology Predictor</h1>
      </div>
    </header>
    <section class="line"></section>

    <section style="flex-direction:column;">
      <div class="text">
        <p> This demo provides model predictions and crowd sourced responses for the first survey question: </p>
        <p><strong>Is the Galaxy: 1. Simply smooth, 2. Possess features / disk, 3. A star</strong></p>
        <img src={{image}} alt="Sample Galaxy">
        <table>
            <thead>
                <tr>
                    {% for col in columns %}
                    <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in values %}
                <tr>
                    {% for val in row %}
                    <td>{{ val }}</td>
                    {% endfor %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </section>

    <section>
      <div>
        <a href="/demo">
          <button> Predict New </button>
        </a>
      </div>
    </section>
 {% endblock content %}
