body{
    background:rgb(80,80,80);
    color: white;
    font-family: Perpetua;
    margin:0;
    padding:0;
}

header {
    background: rgb(30,30,30);
    padding: 20px;
}

header.nav_bar {
    background:rgb(30,30,30);
    padding:1px;
}

div {
    background: rgb(30,30,30);
    margin: auto;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
}

div.nav_bar {
    margin:0;
    padding:0;
    width: 33%;
}

div.image{
    background:rgb(200,200,200);
    height: auto;
}

div.foot{
    background:rgb(200,200,200);
    width:170px;
    height:auto;
    align-items:center;
}

div.data {
  background: white;
  height:auto;
  padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


li {
    margin: auto;
    height: auto;
    width:500px;
    padding: 3px;
}

p {
    color:black;
    margin:auto;
    width:400;
}
a {
    font-size: 30px;
    margin:auto;
    color:rgb(43, 62, 124);
}

a.foot {
    font-size:20px;
    text-align: center;
}

section {
    background: rgb(200,200,200);
    color: gray;
    padding:20px;
}

section.spaced {
    margin: 5px 0px;
}
section.center {
    display: flex;
    flex-direction: row;
}

footer {
    background: black;
    display: flex;
    flex-direction:row;
}
img {
    max-width:100%;
    height:auto;
    width:auto;
    margin:auto;
}

img.small {
    max-width: 80%;
}

img.vsmall {
    max-width: 10%;
}

img.icon {
    width: 50px;
    height: auto;
}
h1 {
    color:rgb(43, 62, 124);
    margin:auto;
}

h1.paragraph {
    color:black;
}

table{
    border-collapse: collapse;
    margin:auto;
    height:100px;
    width:424px;
}

th{
    padding:8px;
    border-bottom: 2px solid;
    text-align: center;
}

td {
    padding:4px;
    border-bottom: 1px solid;
    text-align: center;
}

tr:hover {background-color: whitesmoke;}

h2 {
    margin:auto;
    color:black;
}
button {
    background: white;
    margin: auto;
    padding: 5px 25px;
}
